footer {
    background-color: $black;
    color: $white;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    p{
        font-size: 0.8rem;
    }
    .icons{
        display: flex;
        
    }
    
    i{
        font-size: 1rem;
        padding: 5px;
    }
}