@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$white:#fff;
$black:#1a1a1a; 
$gray:#d9d9d9;
$aqua:#b7ffed;

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}